#login_form
{
	border: 1px solid;
	font-family: sans-serif;
	width: 179px;
	font-size: 1em;
}

#password_form
{
	border: 1px solid;
	font-family: sans-serif;
	width: 230px;
	font-size: 1em;
}
#login_form h1, #password_form h1
{
	padding: 0;
	margin: 0;
	background-color: #777777;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 5px;
	font-size: 1em;
}
#login_form_body
{
	font-size: 1em;
	margin: 5px;
	text-align: right;
}
#warning_message
{
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	background-color: #FF0000;
	color: #FFFFFF;
}
#warning_details
{
	font-size: .7em;
	margin: 5px;
	text-align: justify;
}
#login_form .field, #password_form .field
{
	text-align: right;	
	font-size: .8em;			
}
#login_form .prompt:after, #password_form .prompt:after
{
	content: ":";
}
#login_form .field_data, #password_form .field_data
{
	width: 100px;
	font-size: .8em;
}